

@use '../../styles/variables' as *;

.container {
  width: 100%;
  max-width: $container-max;
  margin: 0 auto;
  padding-left: $container-pad-x;
  padding-right: $container-pad-x;
}

@media (min-width: $bp-lg) {
  .container {
    padding-left: $container-pad-x-lg;
    padding-right: $container-pad-x-lg;
  }
}