@use '../../../shared/styles/variables' as *;

.footer {
  border-top: 1px solid $border;
  background: rgba(15, 17, 22, 0.5);
}

.inner {
  display: flex;
  justify-content: center;
  padding: $space-5 0;
  font-size: $fs-14;
  line-height: $lh-normal;
  color: $text-faint;
}
